#full {
    height: 100vh;
    width: 100vw;
}

#codeEditor {
    height: 80vh !important;
}

img {
    max-width: 100%;
}

div.full {
    height: 100%;
    width: 100%;
}

div.pad {
    padding: 2em;
}
