img {
    max-width: 100%;
}
#full {
    height: 100vh;
    width: 100vw;
}
div.full {
    height: 100%;
    width: 100%;
}
div.pad {
    padding: 2em;
}
div.margin-pad {
    margin: 1em;
}
div.column-content {
    overflow-y: auto;
    max-height: calc(100vh - 4em - 28px);
}
div.ui.segment pre {
    background: rgba(34, 36, 38, .1);
    overflow: auto;
    padding: 10px;
}
div.guide img {
    border: 0px dotted rgba(34, 36, 38, .25);
    border-width: 0px 2px 0px 0px;
    max-width: 600px;
}
#tutorial-menu {
    position: absolute;
    bottom: 0;
    right: 0;
}


/*SPLITJS*/
/* https://stackoverflow.com/questions/28785588 */

div.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div.flex-container {
    max-height: calc(100% - 36px);
    max-width: 100%;
}
div.gutter.gutter-vertical {
    background: #17a1a5;
}
div.gutter.gutter-vertical:hover {
    background: #006468;
}


/*EDITOR*/

#browser {
    height: 100%;
    padding: 2rem 0 0 0;
    border-bottom: 0;
    overflow: hidden;
}
#status_container, #code_editor {
    position: relative;
}
#code, #compile {
    max-height: 100%;
    height: 100% !important;
}
div.ace_editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*ARDUINO*/

div#arduino div.ui.button {
    border-radius: 0 !important;
}
div.arduino div.ui.button,
div.arduino div.ui.button:focus {
    background: #17a1a5;
    color: #006468;
}
div.arduino div.ui.button:hover {
    background: #006468;
    color: white;
}
