# See https://help.github.com/ignore-files/ for more about ignoring files.
tmp/
log/

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*swo
*swp
# See https://help.github.com/ignore-files/ for more about ignoring files.

.byebug_history

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/public/packs
/public/packs-test
/node_modules
